<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stilo.css">
    <title>Document</title>
</head>
<body>
    <section class="articulos">
        <div><title2>Articulos(#)</title2></div>

    </section>
    <section class="detalles">
        <h3>Articulo    Precio      Cantidad        Total</h3>
        <img src="images/cuadroVacio.png" alt="Cuadro" class="cuadroVacio"> <p>Nombre Talla</p>
        <p><input type="number" name="Precio" placeholder="$000.000"></p>
        <input type="number" name="Cantidad" placeholder="00">
        <p><input type="number"name="Total" placeholder="$000.000"></p>
        </section>

    
</body>
</html>